*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html{
    scroll-behavior: smooth;
    cursor: url(../images/icons8-emoji-de-baloncesto-30.png),
    auto;
    padding: auto;
}
header {
    background-color: lightslategrey;
    
}
h1 {
    display: inline;
    margin-left: 480px;
}
nav {
    background-color: dimgray;
    text-align: center;
}
nav>a {
    margin-left: 20px;
    color:black;
    text-decoration: none;
    cursor: pointer;
    transition: .2s;
    cursor: url(../images/icons8-tenis-emoji-30.png), auto;
}
#bienvenida{
    background-color: rgb(162, 172, 187);
    text-align: center;
    padding: 30px;
}
.productos-destacados{
    display: inline-block;
    background-color:dimgray;
    width: 200px;
    padding: 20px;
    text-align: center;
    border: 5px solid rgb(162, 172, 187);
    margin: 10px;

}
.destacados{
    text-align: center;
    padding: 30px;
}
.productos-destacados>a{
    text-decoration: none;
    color: black;
    padding: 2px;
    background-color: darkgray;
    border-radius: 5px;
}
.imagen-categorias{
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-left: 5px;
    border:5px solid rgb(162, 172, 187);
}
footer{
    background-color:rgb(162, 172, 187);
    text-align: center;
    height: 40px;
    padding: 10px;
}